name: CI-Dev

on:
  pull_request:
    branches: [dev]
  push:
    branches: [dev]

jobs:
  precommit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pre-commit/action@v3.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.11

      - name: Run Unit Tests
        run: |
          uv sync --dev --frozen
          uv run pytest || [ $? -eq 5 ]
        env:
          PYTHONPATH: src
