name: CI-Dev

on:
  pull_request:
    branches: [dev]
  push:
    branches: [dev]

jobs:
  precommit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.11

      - name: Run pre-commit
        run: uvx pre-commit run --all-files

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Test Database Image
        run: docker pull ghcr.io/gtrpgm/postgres-ex:latest

      - name: Run Unit Tests
        run: |
          uv sync --dev --frozen
          uv run pytest || [ $? -eq 5 ]
        env:
          PYTHONPATH: src
