name: CI-Dev

on:
  pull_request:
    branches: [dev]
  push:
    branches: [dev]

jobs:
  precommit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.11

      - name: Run pre-commit
        run: uvx pre-commit run --all-files

      - name: Run Unit Tests
        run: |
          uv sync --dev --frozen
          uv run pytest || [ $? -eq 5 ]
        env:
          PYTHONPATH: src
